*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: repeat(2);
    font-family: sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

.header{
    width: 100%;
    position: sticky;
    top: 0;
    background-color: white;
}

#header-logo{
    width: 80px;
    margin-left: 10px;
    float: left;
}

.header-navbar{
    float: right;
    line-height: 80px;
    font-size: 1.2rem;
    padding-right: 20px;
}

.app{
    width: 100%;
    margin-bottom: 20px;

}

.app-presentacion{
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

#app-presentacion-inicio, #app-presentacion-mision, #app-presentacion-vision, #app-presentacion-test{
    scroll-margin-top: 100px;
}

.app-presentacion-tittle{
    text-align: center;
}

.header-navbar-item{
    padding: 5px 5px 5px 5px;
    margin-left: 10px;
}

.header-navbar-item:hover{
    background-color: rgb(69, 173, 126);
    border-radius: 15px;
    border: 1px solid rgb(18, 136, 83);
    color: white;
}

.app-presentacion-desc{
    line-height: 25px;
    padding: 0 20px 0 20px;
}

.app-form{
    width: 500px;
    max-width: 100%;
    margin: auto;
    box-shadow: 0 0 20px 1px rgba(69, 173, 126, 0.5);
    padding: 20px;
    position: relative;
}

.app-form-textarea, .app-form-input, .app-form-label, .app-form-submit {
    display: block;
    width: 100%;
    padding-bottom: 10px;
}
#app-presentacion-desc-inicio, #app-presentacion-desc-mision, #app-presentacion-desc-vision{
    text-align: center;
}